.button {
   display: inline-flex;
   justify-content: center;
   align-items: center;
   height: 3.5rem;
   padding: 0 2rem;
   border-radius: 10px;
   transition: transform 0.1s ease;

   &:active {
      transform: scale(0.98);
   }

   span {
      font-weight: 700;
      text-align: center;
   }

   &--transparent {
      background-color: transparent;
      color: $dark;
      border: 2px solid $dark;

      &:hover,
      &:focus {
         background-color: $blue;
      }
   }
}

.minibutton {
   display: block;

   &__content {
      padding: 0.5rem;
      display: flex;
      align-items: center;
      border-radius: 50px;
      font-size: 1.5em;
   }

   &__content--primary {
      position: relative;
      color: $blue;
      transition: background-color, 0.1s linear;

      &:hover {
         background-color: $dark;
      }
      &:active {
         background-color: darken($color: $dark, $amount: 5);
      }
   }
}
