@import './base/helpers';
@import './base/variables';

@import './components/header';
@import './components/input';
@import './components/auth';
@import './components/button';
@import './components/modal';
@import './components/popup';

@import './pages/modules';
@import './pages/dashboard';
@import './pages/create';

body {
   margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
      'Droid Sans', 'Helvetica Neue', sans-serif;

   background-color: $dark;
   color: #fff;
   font-size: 25px;
}

*,
*::before,
*::after {
   box-sizing: border-box;
   list-style: none;
   outline: none;
}

a {
   color: inherit;
   text-decoration: none;
}

::placeholder {
   color: #0000006b;
   user-select: none;
}

button,
input {
   font-family: inherit;
   background-color: transparent;
   border: 1px solid transparent;
   color: #f5f5f5;
   font-size: 25px;
}
button {
   border-radius: 5px;
   cursor: pointer;
   user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
   margin: 0;
}

ul {
   padding: 0;
}
